/img_align_celeba/
/img_align_celeba.zip
/tests
/debug_resized
/females_uncropped
/img_align_celeba
img_align_celeba.zip
/img_celeba
img_celeba.7z
test_results
test_results_final
test_results_uncropped
/ZIP
celeba_model_epoch_2.pth
celeba_model_epoch_3.pth
celeba_model_epoch_4.pth
celeba_model_epoch_5.pth
celeba_model_epoch_6.pth
celeba_model_epoch_7.pth
celeba_model_epoch_8.pth
celeba_model_epoch_9.pth
celeba_model_epoch_10.pth
celeba_model_epoch_11.pth
celeba_model_epoch_12.pth
celeba_model_epoch_13.pth
celeba_model_epoch_14.pth
celeba_model_epoch_15.pth
celeba_model_epoch_16.pth
celeba_model_epoch_17.pth
celeba_model_epoch_18.pth
celeba_model_epoch_19.pth
uncropped_model_epoch_1.pth
uncropped_model_epoch_2.pth
uncropped_model_epoch_3.pth
uncropped_model_epoch_4.pth
uncropped_model_epoch_5.pth
README.txt
output_pillow.jpg
/full_model_epoch_2.pth
/full_model_epoch_1.pth
/full_model_epoch_3.pth
/full_model_epoch_4.pth
/full_model_epoch_5.pth
/uncropped_model_epoch_7.pth
/uncropped_model_epoch_8.pth
